# Django project related files
*.pyc
*.pyo
__pycache__/
db.sqlite3

# Secret key configuration (if kept in settings.py)
myproject/settings_secret.py

# Media and static files (if managed by Django)
media/
static/

# Virtual environment
venv/


.env