<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OptApp</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
      perspiciatis ducimus sint a culpa! Consequatur, perferendis! Error amet
      aut quasi?
    </p>

    <table>
      <thead>
        <tr>
          <th>X</th>
          <th>Y</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{x}}</td>
          <td>{{y}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
